<!-- src/app/components/profile/profile.component.html -->
<div class="container mt-5 pt-4">
    <!-- Profile Section -->
    <div class="card p-2">
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <img src="/C:\Users\bahal\OneDrive\Desktop\male employee.png" class="rounded-circle" alt="Profile Picture" width="80" height="80">
          <div class="ms-3">
            <h5>{{ employee.name }}</h5>
            <p>{{ employee.department }} <br> {{ employee.position }}</p>
          </div>
        </div>
        <div>
          <button class="btn btn-success">New Request</button>
        </div>
      </div>

      <div class="row mt-3 g-4 me-5">
        <div class="col-md-3">
          <i class="fas fa-user me-2"></i>
          <strong>Reporting To:</strong>
          <span class="d-block mt-3">{{ employee.reportingTo }}</span>
        </div>

        <div class="col-md-3">
          <i class="fas fa-building me-2"></i>
          <strong>Corporate Level:</strong>
          <span class="d-block mt-2">{{ employee.corporateLevel }}</span>
        </div>

        <div class="col-md-3">
          <i class="fas fa-hourglass me-2"></i>
          <strong>Lifetime:</strong>
          <span class="d-block mt-2">{{ employee.lifetime }}</span>
        </div>

        <div class="col-md-3">
          <i class="fas fa-suitcase me-2"></i>
          <strong>Vacation Days Left:</strong>
          <span class="d-block mt-2">{{ employee.vacationDaysLeft }} Days</span>
        </div>

        <div class="col-md-3">
          <i class="fas fa-briefcase-medical me-2"></i>
          <strong>Sick Days Left:</strong>
          <span class="d-block mt-2">{{ employee.sickDaysLeft }} Days</span>
        </div>
      </div>
    </div>
</div>

